@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: url('background.png'),
    radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(2, 37, 78, 1) 0%,
      rgba(4, 56, 126, 1) 19.7%,
      rgba(85, 245, 221, 1) 100.2%
    );
  background-size: cover;
  background-repeat: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */

@media only screen and (max-width: 600px) {
  .player {
    height: 55rem !important;
  }
}

@media only screen and (max-width: 600px) {
  main {
    height: 55rem !important;
  }
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  z-index: 20;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .player {
    padding: 01rem !important;
  }
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  z-index: 20;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  z-index: 20;
}

@media only screen and (max-width: 600px) {
  .score {
    padding-top: 8.5rem !important;
  }
}

.score {
  font-size: 6rem;
  font-weight: 300;
  color: #009886;
  margin-bottom: auto;
  padding-top: 2rem;
  z-index: 20;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 20;
}

@media only screen and (max-width: 600px) {
  .pause,
  .play {
    background-size: 35% !important;
  }
}

.pause {
  background-image: url('pause.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 20;
}
.play {
  background-image: url('play.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 20;
}

.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .current {
    padding: 01rem !important;
    margin-top: 27rem !important;
    width: 50% !important;
  }
}

.current {
  background-color: #008b8f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

@media only screen and (max-width: 600px) {
  .current-label {
    font-size: 1.2rem !important;
  }
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: 'Press Start 2P', system-ui;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 1.7rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  z-index: 30;
}

.btn:hover {
  background-color: #009886;
  color: #fff;
}

/* .btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
} */

@media only screen and (max-width: 600px) {
  .btn--new {
    top: 6rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .btn--roll {
    top: 34rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .btn--top {
    top: 43rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .btn--hold {
    top: 40.5rem !important;
  }
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 13rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  z-index: 20;
}
@media only screen and (max-width: 600px) {
  .dice {
    height: 10rem !important;
  }
}

.player--winner {
  background-color: #2f2f2f;
  z-index: 20;
}

.player--winner .name {
  font-weight: 700;
  color: #009886;
  z-index: 20;
}
